<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Email Confirm</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700">
</head>
<body style="font-family: 'Open Sans', sans-serif; background: #4bb9fe; color: #555; margin: 0; padding: 0;">
    <div style="padding: 30px 20px;">
        <div style="text-align: center; margin-bottom: 15px">
            <img src="http://dl.dropboxusercontent.com/s/3ds3486ybdwl3v0/logo-jagamana.png">
        </div>
        <div style="border-radius: 5px; background: #ffffff; max-width: 700px; margin: auto; padding: 30px 25px;">
            <h1 style="margin: 0; font-size: 30px;">JOB FEED</h1>
            <h3 style="margin-top:0; margin-bottom: 12px;">Find Your Matches Career</h3>
            <hr style="margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #ededed;">

            <div>
                <p style="margin-bottom: 10px; margin-top: 0;">Hi NAME <br>Here are the latest jobs and career matching your <strong>profile</strong> and <strong>skills</strong>:</p>

                <table style="border-collapse: collapse; width: 100%; max-width: 100%; margin: 20px 0;">
                    <thead>
                    <tr>
                        <th style="background: #333333; color: #ffffff; font-weight: 600; padding: 8px;">JOB DESCRIPTION</th>
                        <th style="background: #333333; color: #ffffff; font-weight: 600; padding: 8px;" width="130">APPLY</th>
                    </tr>
                    </thead>
                    <tbody>
                    NEWSLETTER
                    </tbody>
                </table>
                <p style="opacity: .7; margin-bottom: 10px;">Warm Regard, <br><strong>Jagamana Administrator</strong></p>
            </div>

            <hr style="margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #ededed;">
            <p style="opacity: .7; margin-top: 0; margin-bottom: 10px"><small>This email was sent to <a href="mailto:EMAIL" style="color: #4bb9fe; text-decoration: none;">EMAIL</a>. You have received this email because you are a member of <strong>Jagamana</strong>, if you would like to stop receiving emails from us, feel free to <a href="UNSUBSCRIBE" style="color: #4bb9fe; text-decoration: none;">unsubscribe</a> from our mailing list</small></p>
        </div>
        <div style="text-align: center; color: #ffffff; margin-top: 15px;">
            <p style="font-size: 14px; letter-spacing: 1px; margin-top: 0; margin-bottom: 10px;">&copy; YEAR Jagamana, All Rights Reserved</p>
            <p style="opacity: .7; font-size: 12px; margin: 0;">ADDRESS</p>
            <p style="opacity: .7; font-size: 12px; margin: 0;">Powered by Sketch Project Studio</p>
        </div>
    </div>
</body>
</html>
