<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Email Confirm</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700">
</head>
<body style="font-family: 'Open Sans', sans-serif; background: #4bb9fe; color: #555; margin: 0; padding: 0;">
    <div style="padding: 30px 20px; text-align: center;">
        <div style="margin-bottom: 15px;">
            <img src="http://dl.dropboxusercontent.com/s/3ds3486ybdwl3v0/logo-jagamana.png">
        </div>
        <div style="border-radius: 5px; background: #ffffff; max-width: 700px; margin: auto; padding: 30px 25px;">
            <div style="color: #555;">
                <h1 style="margin-top:0; margin-bottom: 15px; font-size: 40px;">Just One More Step</h1>
                <h3 style="margin-top:0; margin-bottom: 12px;">Hi, NAME</h3>
                <p>A very special welcome to you, thank you for joining</p>
                <p style="color: #4bb9fe; font-weight: bold; font-size: 16px">WEBSITE</p>

                <p>Click button below to activate your Jagamana account.</p>
                <a href="SITEPATH/ROLE/TOKEN" style="padding: 10px 15px; border-radius: 5px; background: #4bb9fe; text-decoration: none; color: #ffffff; margin: 2px; display: inline-block; vertical-align: middle; font-weight: 600;">Activate Account</a>
                <br>
                <p style="margin-bottom: 10px;"><small>We hope you enjoy your stay at Jagamana, if you have any problem, questions, opinions, praise, comments, suggestions, please feel free to contact us any time</small></p>
                <p style="margin-bottom: 10px; opacity: .7;">Warm Regard, Jagamana Administrator</p>
            </div>
        </div>
        <div style="margin-top: 15px; color: #ffffff;">
            <p style="font-size: 14px; letter-spacing: 1px;">&copy; YEAR Jagamana, All Rights Reserved</p>
            <p style="opacity: .7; font-size: 12px; margin: 0;">ADDRESS</p>
            <p style="opacity: .7; font-size: 12px; margin: 0;">Powered by Sketch Project Studio</p>
        </div>
    </div>
</body>
</html>